.ujian{
  margin-top: 2rem;
  padding: 2.5rem;
  padding-top: 2rem;
}
.ujian-body{
  margin-top: .5rem;
}
.ujian-item-soal{
  padding-top: .8rem;
  padding-bottom: .8rem;
  display: flex;
}
.item-opsi{
  display: flex;
}
.item-opsi > label{
  font-weight: normal !important;
}